/* ========================================
  Base Element Styles
===========================================*/

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #391761;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* ========================================
  Search Form Styles
===========================================*/

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #6c4a94;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #dcd2e9;
  padding: 10px 15px;
  border: 3px solid #8d71af;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

/* ========================================
  Main Nav Styles
===========================================*/

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #6c4a94;
  border-radius: 3px;
  padding: 5px;

  color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #512e7b;
}

/* ========================================
  Photo Container Styles
===========================================*/

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul figure {
  overflow: hidden;
}

.photo-container ul li {
  width: 220px;
  height: 165px;

  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container figure img {
  transform: scale(1.25);
  transition: transform 1.25s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-container figure:hover img {
  transform: scale(1.65);
  z-index: -1;
}

figure {
  position: relative;
  margin: 0;
  height: 100%;
  /* Because the images are cropped,
  border effects have to be controlled
  on the wrapping element. */
  border-radius: 3px;
}

.shadow-inset {
  /* Inset shadows have to be added as seperate layer*/

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 4px 4px rgba(94, 64, 91, 0.431) inset;
  /* Prevents it from blocking hover event.*/
  pointer-events: none;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(43, 43, 43, 0.76);
  padding: 0.5rem;
  box-sizing: border-box;
  color: whitesmoke;
  opacity: 0;
  transition: 0.25s;
}

figure:hover figcaption {
  opacity: 100;
}

a.img-link {
  text-decoration: underline;
  color: lightblue;
}

/* Centers all messages: NotFound.js, Error.js, Searching.js, Loading.js */
.photo-container .msg {
  max-width: none;
  width: 100%;
}

/* ========================================
  Media Queries
===========================================*/

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
